<p style="color: green"><%= notice %></p>

<%= render @payment_notification %>

<div>
  <%= link_to "Edit this payment notification", edit_payment_notification_path(@payment_notification) %> |
  <%= link_to "Back to payment notifications", payment_notifications_path %>

  <%= button_to "Destroy this payment notification", @payment_notification, method: :delete %>
</div>
