
<% content_for :body_class, 'bg-light' %>

<div class="section product-show mt-3 mb-5">
  <div class="row">
    <div class="col-md-8">
         <h2 class="title is-2"><%= @product.title %></h2>
           <div>
                <% if @product.brand? %>
                <span class="top inline-block pr-3"><%= @product.brand %></span>
                <% end %>

                <span class="top inline-block pr-3"><%= @product.model %></span>

                <% if @product.condition? %>
                <span class="top inline-block pr-3"><%= @product.condition %></span>
                <% end %>
            </div>
        <div class="feature-image rounded">
            <%= link_to image_tag(@product.image.url, size: "500x350" ) %>
        </div>

        <div class="content rounded mt-3 bg-white mb-5">
            <h3 class="subtitle is-4">Description</h3>
            <%= @product.description %>
            <h3 class="subtitle is-4 pt5">Product Specs</h3>
            <table class="table is-narrow mt-5">
                <% if @product.condition %>
                <tr>
                <td class="has-text-weight-bold">Condition:</td>
                <td><%= @product.condition %></td>
                </tr>
                <% end %>
                <% if @product.finish %>
                <tr>
                    <td class="has-text-weight-bold">Finish:</td>
                    <td><%= @product.finish %></td>
                </tr>
                <% end %>
                <% if @product.brand %>
                <tr>
                    <td class="has-text-weight-bold">Brand:</td>
                    <td><%= @product.brand %></td>
                </tr>
                <% end %>

                <tr>
                <td class="has-text-weight-bold">Model:</td>
                <td><%= @product.model %></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-3 round  text-center">
        <div class="bg-white sideBox ">
            <h4 class="title is-5 has-text-centered"><%= number_to_currency(@product.price) %></h4>
            <p class="has-text-centered mb4">
            <% # @product.user.name %>
            </p>
            <%= form_with(model: Product.new ,url: cart_items_path(product_id: @product.id), class: "mb-2") do |form| %>
              <div class="test mb-4">
                 <%=  form.label :quantity %>
                  <%=  form.number_field :quantity %>
                  <p class='c-error'><%= show_errors(@cart_item, :quantity) %></p>
              </div>
              <%= form.submit 'Add to cart',  class: 'btn btn-info' %>
            <% end %>
            <% # button_to 'Add to cart', cart_items_path(product_id: @product.id), class: 'btn btn-info' %>
        </div>
    </div>
  </div>
</div>


<style>
.top{
    padding-right: 20px;
}
.content{
    padding: 30px;
}
.sideBox{
    padding: 30px;

}
.bg-cart {
    background-color: orange;
    color: #fff
}

.bg-cart:hover {
    color: #fff
}
#product_quantity {
    width: 40px;
}
.c-error { 
  border-radius: 0 !important;
  position: relative; 
  display: inline-block !important;
  color: #c51244 !important;
}





</style>