
<div class="items-start p-4 mt-4 bg-light rounded">
  <div class="row">
    <div class="col-md-8">
        <p class="text-grey-dark text-xs"><%= address.user.email %> created <%= time_ago_in_words(address.created_at) %> ago</p>
        <div class="text-grey-darkest"><%=  address.address %></div>
    </div>
    <div class="col-md-4">
        <%= button_to "Delete", "/address/destroy/"+"#{address.id}", method: :delete, form: {data: { turbo_confirm: "Are you sure?" }}, class: "btn btn-sm btn-danger" %><br/>
        <%=  link_to "Move to payment", checkout_place_order_path(address_id: address.id), class: "btn btn-sm btn-warning" %>

        <% # button_to "Place Order", place_order_path, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-warning" %>
    </div>
  </div>

  <% # form_with model:  @address ,url: place_order_path do |f| %>
    <% # render "checkout/payment_form" %>
    <% # f.submit "Place Order"  ,class: "btn btn-sm btn-warning" %>
  <% # end %>

</div>