<div id="<%= dom_id order2 %>">
  <p>
    <strong>New:</strong>
    <%= order2.new %>
  </p>

  <p>
    <strong>Cart:</strong>
    <%= order2.cart_id %>
  </p>

  <p>
    <strong>Ip address:</strong>
    <%= order2.ip_address %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= order2.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= order2.last_name %>
  </p>

  <p>
    <strong>Card type:</strong>
    <%= order2.card_type %>
  </p>

  <p>
    <strong>Card expires on:</strong>
    <%= order2.card_expires_on %>
  </p>

</div>
