<p style="color: green"><%= notice %></p>

<%= render @order2 %>

<div>
  <%= link_to "Edit this order2", edit_order2_path(@order2) %> |
  <%= link_to "Back to order2s", order2s_path %>

  <%= button_to "Destroy this order2", @order2, method: :delete %>
</div>
