
  <h2 class="main-content__page-title" id="page-title">
       Product
  </h2>
 <tbody>


<div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="row">
     <% if !(@products.blank?)%>
    <% @products.each do |product| %>
        <div class="col-md-4 mt-2">
      
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"><%= link_to image_tag(product.image.url, size: "350x96" ,class: "card-img img-fluid"), product_path(product) %> </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> 
                        <%= product.description %>
                        </h6> <%= link_to product.title, product ,class: "text-muted"%> 
                    </div>
                    <% unless product.user_feed_backs.blank? %>
                        <% average_rating(product.user_feed_backs).times do |n| %>
                            <%= image_tag (asset_url('star-on.png')), class: "img-responsive" , size: "20x20" %>
                        <%  end %>&nbsp;
                        <%= pluralize(product.user_feed_backs.count, 'Review') %>

                    <%  end %>
                    <h3 class="mb-0 font-weight-semibold"><%= number_to_currency(product.price) %></h3>
                   
                    <% # button_to ("<i class='fa fa-cart-plus mr-2'></i> Add to cart").html_safe, cart_items_path(product_id: product.id), method: :POST  , class: "btn bg-cart" %>
                </div>
            </div>
        </div>
        <% end %>
        <% else %>
        <h4>There is no products regarding this category</h4>

        <% end %>
    </div>
</div>
    
<style>
body {
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
    background-color: #ced4da;
}
.bg-cart {
    background-color: orange;
    color: #fff
}

.bg-cart:hover {
    color: #fff
}
#product_quantity {
    width: 40px;
}
.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 250px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem
}

.card-img-actions {
    position: relative
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center
}

.card-img {
    width: 350px
}

.star {
    color: red
}

.bg-cart {
    background-color: orange;
    color: #fff
}

.bg-cart:hover {
    color: #fff
}

.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 29px
}

.bg-buy:hover {
    color: #fff
}

a {
    text-decoration: none !important
}
</style>


<script>
var ready;
ready = function() {

  alert('hello man!');

};

 $(document).on('page:load', ready);
</script>