<!DOCTYPE html>
<html>
  <head>
    <title>Shopcart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
    <%= javascript_include_tag "https://js.stripe.com/v3/" %>

    <%= javascript_include_tag "jquery-3.6.0.min.js"%>
    <%= tag :meta, name: "stripe-public-key", content: ENV['STRIPE_TEST_PUBLISHABLE_KEY'] %>

  </head>

  <body>
    <%= render "layouts/navigation" %>
    <%= render "admin/categories/navcat" %>
    <div class="container mb-5">
      <%= render "layouts/messages"%>
      <%= yield %>
    </div>
    <% # render "layouts/footer" %>

  </body>
</html>
<script>

$(document).ready(function(){
$("#test").on('click', function(){
alert('hello')
});


});













</script>